form {
	background: blue;
  padding: 5px;
  width: 300px;
  color: white;
	border-radius: 5px;
}
input {
	display: block;
}
button {
	border-radius: 5px;
	background-color: green;
	margin: 15px;
	width:30%;
	color:white;
	height: 40px;
}
